:root {
    --code-bg: #f4f4f4;
    --tertiary: #212121;
    --color: #fff;
    --primary: #09090b;
}

.dark {
    --theme: #09090b;
    --entry: #1a1a1f;
    --color: #fff;
    --primary: #fff;
}

.profile .profile_inner {
    padding: 0 10px;
}

.button {
    color: var(--color);
}

#menu {
    flex-wrap: wrap;
    justify-content: center;
}

#hamburger {
    display: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* dua kolom dengan lebar minimum 300px */
    gap: 20px;
    /* jarak antara kartu */
}

.card {
    display: none;
    background-color: var(--entry);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card * {
    color: var(--primary);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    #menu {
        display: none;
        position: relative;
        z-index: 100;
        top: -200px;
        transition: opacity 0.5s;
    }

    .nav {
        position: relative;
    }

    .open {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 0 !important;
        left: 0;
        background-color: var(--entry);
        text-align: center;
        overflow: hidden;
    }

    .open a {
        color: var(--primary);
    }

    .open li {
        width: 90%;
        text-align: center;
    }

    .open li:hover {
        background-color: var(--theme);
    }

    .open li:hover a {
        color: var(--primary) !important;
    }

    #hamburger {
        display: block !important;
        position: fixed;
        top: 0;
        z-index: 100;
        right: 10px;
    }
}