:root {
    --code-bg: #f4f4f4;
    --tertiary: #212121;
    --color: #fff;
}

.dark {
    --theme: #09090b;
    --entry: #1a1a1f;
    --color: #fff;
    --primary: #fff;
}

.profile .profile_inner {
    padding: 0 10px;
}

.button {
    color: var(--color);
}

#menu {
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    #menu {
        display: none !important;
    }
    
}