:root {
    --code-bg: #f4f4f4;
    --tertiary: #212121;
    --color: #fff;
    --primary: #09090b;
}

.dark {
    --theme: #09090b;
    --entry: #1a1a1f;
    --color: #fff;
    --primary: #fff;
}

.profile .profile_inner {
    padding: 0 10px;
}

.button {
    color: var(--color);
}

#menu {
    flex-wrap: wrap;
    justify-content: center;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 600px){
    #menu {
        display: none;
        position: relative;
        z-index: 100;
        top: -200px;
        transition: opacity 0.5s;
    }

    .nav {
        position: relative;
    }

    .open {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 0 !important;
        left: 0;
        background-color: var(--entry);
        text-align: center;
        overflow: hidden;
    }

    .open a {
        color: var(--primary);
    }

    .open li {
        width: 90%;
        text-align: center;
    }

    .open li:hover {
        background-color: var(--theme);
    }
    
    .open li:hover a {
        color: var(--primary) !important;
    }

    #hamburger  {
        display: block !important;
        position: fixed;
        top: 0;
        z-index: 100;
        right: 10px;
    }   
}