{{- define "main" }}

<header class="post-header">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="post-title entry-hint-parent">
    {{ .Title }}
    {{- if .Draft }}
    <span class="entry-hint" title="Draft">
      <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
        <path
          d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
      </svg>
    </span>
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <div class="post-meta">
    {{- partial "post_meta.html" . -}}
    {{- partial "translation_list.html" . -}}
    {{- partial "edit_post.html" . -}}
    {{- partial "post_canonical.html" . -}}
  </div>
  {{- end }}
</header>

{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}

{{- $term := .Data.Term }}

<div class="card-grid">
  {{ $tags := .Params.tags }}
  {{ range $paginator.Pages }}
  <a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}" class="card" data-article-tags="{{ range .Params.tags }}{{ . }}, {{ end }}">
    <article>
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .Title }}</h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}</p>
      </div>
      <footer class="entry-footer">
        {{ partial "post_meta.html" . }}
      </footer>
    </article>
  </a>
  {{ end }}

  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Ambil nilai query parameter dari URL
      const urlParams = new URLSearchParams(window.location.search);
      const tags = urlParams.get('tags');
      console.log("tags: ", tags)
      // Seleksi semua kartu artikel
      const cards = document.querySelectorAll('.card');
    
      // Jika tidak ada tag yang diberikan, tampilkan semua kartu
      if (!tags) {
        cards.forEach(function(card) {
          card.style.display = 'block';
        });
        console.log("no tags")
        return; // Keluar dari fungsi setelah menampilkan semua kartu
      }
    
      // Jika ada tag yang diberikan, filter kartu berdasarkan tag
      cards.forEach(function(card) {
        // Ambil tag dari data-article-tags atribut pada kartu
        const cardTags = card.getAttribute('data-article-tags').split(',');
    
        // Periksa apakah setiap tag dalam kartu ada dalam daftar tag dari URL
        const isVisible = tags.split(',').every(tag => cardTags.includes(tag.trim()));

        // Tampilkan atau sembunyikan kartu berdasarkan hasil pemeriksaan
        card.style.display = isVisible ? 'block' : 'none';
      });
    });    
  </script>
{{- end }}{{/* end main */}}