---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import PostList from '../components/PostList.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout>

    <Hero/>
    <div class="container px-12">
      <PostList/>
    </div>

</DefaultLayout>
