---
import '../styles/global.css';
---

  <div class="flex items-center justify-center h-[calc(100vh-64px)] md:h-[85%] md:min-h-[400px]">
    <div class="max-w-4xl mx-auto px-6 md:flex md:items-center md:justify-between">
      <div class="md:order-1 md:text-center mb-6 md:mb-0 md:mr-16">
        <img src="/me.jpeg" alt="Profile Photo" class="w-44 md:w-52 md:h-52 rounded-full border-4 border-white shadow-lg mx-auto md:mx-0 md:mr-16">
      </div>
      <div class="text-center md:order-2 md:text-start">
        <h1 class="text-3xl md:text-6xl font-bold text-white">Hasban Fardani</h1>
        <p class="text-lg text-white">Software Engineer - Indonesia 🇮🇩</p>
        <p class="text-md text-white mt-4 max-w-prose">A programmer who enjoys coding and solving problems, currently studying at SMKN 11 Bandung majoring in software development</p>
        <div class="mt-6 flex flex-wrap gap-4 justify-center md:justify-start">
          <a href="https://www.cakeresume.com/hasban-fardani" class="btn btn-secondary" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z" clip-rule="evenodd" />
              <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
            </svg>            
            CV
          </a>
          <a href="/projects" class="btn ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path d="M19.5 21a3 3 0 0 0 3-3v-4.5a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h15ZM1.5 10.146V6a3 3 0 0 1 3-3h5.379a2.25 2.25 0 0 1 1.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 0 1 3 3v1.146A4.483 4.483 0 0 0 19.5 9h-15a4.483 4.483 0 0 0-3 1.146Z" />
            </svg>            
            Projects
          </a>
        </div>
      </div>
    </div>
  </div>
