{{- /* Footer custom content area start */ -}}
{{- /* Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}
{{ with resources.Get "/js/aos.js" | minify | fingerprint "sha512" }}
  <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}
<script>
    
    const animate = (selector, animation, delay=50, duration=1000) => {
        let el = document.querySelector(selector)
        el.setAttribute("data-aos", animation);
        el.setAttribute("data-aos-delay", delay);
        el.setAttribute("data-aos-duration", duration);
    }

    // navbar
    {{/*  animate('#top > header > nav', 'fade-up');  */}}

    animate('#top > main > div > div > h1', 'fade-up');  // heading
    animate('#top > main > div > div > span', 'fade-up', 150);  // description
    // socials
    animate('#top > main > div > div > div.social-icons > a:nth-child(1)', 'fade-left', 300); 
    animate('#top > main > div > div > div.social-icons > a:nth-child(2)', 'fade-left', 600);
    animate('#top > main > div > div > div.social-icons > a:nth-child(3)', 'fade-left', 900);
    // CTA
    animate('#top > main > div > div > div.buttons > a:nth-child(1)', 'fade-up', 1200);
    animate('#top > main > div > div > div.buttons > a:nth-child(2)', 'fade-up', 1500);

    AOS.init();
</script>