---
const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<html data-theme="mytheme" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-primary text-white min-h-screen">
    <header>
      <Navbar/>
    </header>
    <main class="md:px-6">
      <slot/>
    </main>
  </body>
</html>